<%- include('header') -%>

  <main>
     <div class="wrapper">
      <header">
        <h1>Gagnavinnsla</h1>
      </header>
      <main>
         <div class="categories">
        <section>
          <h2><span>1.txt</span></h2>
          <ul>
            <li>
              <h3>Max: <%= max %></h3>
            </li>
            <li>
              <h3>Min: <%= min %></h3>
            </li>
          </ul>
        </section>
        <section>
          <h2><span>2.txt</span></h2>
          <ul>
            <li>
              <h3>
                <p>2</p>
              </h3>
          </ul>
        </section>
        <section>
          <h2><span>3.txt</span></h2>
          <ul>
            <li>
              <h3>
                <p>3</p>
              </h3>
          </ul>
        </section>
        <section>
          <h2><span>4.txt</span></h2>
          <ul>
            <li>
              <h3>
                <p>4</p>
              </h3>
            </li>
          </ul>
        </section>
      </div>
    </main>
        
<%- include('footer') -%>