/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1400px;

  --color-text: #222;
  --color-link: #069;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-size: 16px;
  --font-family-base: "Inter", Helvetica, Arial, sans-serif;
  --font-family-heading: "Playfair Display", Georgia, serif;
}

body {
  padding-top: var(--spacing);

  font-size: var(--font-size);
  line-height: 1.5;
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

/*** Fyrirsögn ***/
header {
  margin-bottom: calc(var(--spacing) * 2);
  text-align: center;
}

header h1 {
  font-size: 4rem;
  font-variation-settings: "wght" 600;
}

/* Utan um allt efni, miðjar og setur breidd */
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

/* Þriðja svæði: Flokkar */
.categories {
  display: flex;

  margin-bottom: calc(var(--spacing) * 2);
}

.categories section {
  display: flex;
  flex-direction: column;

  padding-right: calc(var(--spacing));
  width: 11%;
}

.categories section:last-child {
  padding-right: 0;
}

.categories section h2 {
  font-size: 2rem;
}

.categories section ul {
  flex: 1;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-border);
  padding: var(--spacing);
}

.categories section li {
  display: flex;
  flex-direction: column;

  margin-bottom: calc(var(--spacing) / 1);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: calc(var(--spacing) / 1);
}

.categories section li:first-child {
  margin-top: 0;
  padding-top: 0;
}

.categories section li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.greining {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.greining section {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  width: 45%;
}

@media only screen and (max-width: 1000px) {
  .categories {
    max-width: 1000px;
  }
}